@page "/login"
@layout HiddenNavLayout
@using MudBlazor
@using System.Globalization
@using StackTrack.Models
@namespace StackTrack.Models
@inject NavigationManager Navigation
@inject Supabase.Client SupabaseClient
@inject SupabaseLoginResponse UserSession
@inject IJSRuntime JS

<PageTitle>Login</PageTitle>
<MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Class="login-grid">
    <MudItem xs="12" sm="8" md="6" lg="4">
<div class="login-wrapper">
    <MudImage Class="logo-image" ObjectFit="ObjectFit.Contain" Width="250" Height="250" Src="images/logo2.png" Alt="logo" Elevation="0" />
    <div class="login-container">
       

    <EditForm Model="@UserLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
            <MudTextField Class="d-flex py-2" @bind-Value="UserLogin.Email" Variant="Variant.Filled" Label="Email" />
            <ValidationMessage For="@(() => UserLogin.Email)" />

            <MudTextField Class="d-flex py-2" @bind-Value="UserLogin.Password" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
            <ValidationMessage For="@(() => UserLogin.Password)" />
 
        <MudPaper Class="d-flex flex-grow-1 gap-1 mt-1" Elevation="0">

            <MudButton Class="py-3 d-flex flex-1"  Disabled="@_processing" OnClick="HandleLogin" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Sign In</MudText>
                }
            </MudButton>
        </MudPaper>
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="2">
            <MudText Class="py-3 d-inline-flex mud-transparent ">Don't have an account?</MudText>
            <MudButton Class="d-inline-flex " Variant="Variant.Text" OnClick="RedirectToSignUp" Color="Color.Primary">Sign Up</MudButton>
            </MudStack>
                    <div class="divider-with-text">
                        <span>Or connect with</span>
                    </div>

                    <!-- Centered Google button below -->
                    <MudStack AlignItems="AlignItems.Center" Spacing="0">
                        <MudIconButton Icon="@Icons.Custom.Brands.Google"
                                       Color="Color.Secondary"
                                       OnClick="OnGoogleLogin"/>
                    </MudStack>
    </EditForm>
</div>
</div>
    </MudItem>
</MudGrid>

@code
{

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    private User UserLogin = new User();

    private void RedirectToSignUp()
    {
        Navigation.NavigateTo("/signup");
    }
    private async Task HandleLogin()
    {
        await ProcessSomething();
        try
        {
            var session = await SupabaseClient.Auth.SignIn(UserLogin.Email, UserLogin.Password);
            if (session.User != null)
            {
                UserSession.CurrentUser = SupabaseClient.Auth.CurrentUser;
                UserSession.CurrentSession = SupabaseClient.Auth.CurrentSession;
                Navigation.NavigateTo("/home");
            }

        }
        catch (Exception ex)
        {

            Console.Error.WriteLine($"Login error: {ex}");
        }
    }

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private bool _processing = false;

    async Task ProcessSomething()
    {
        _processing = true;
        await Task.Delay(2000);
        _processing = false;
    }
    private async Task OnGoogleLogin()
    {
        // this calls the `signInWithGoogle()` function
        await JS.InvokeVoidAsync("signInWithGoogle");
        var user = await JS.InvokeAsync<User>("supabase.auth.getUser");
    }
}